//- index.pug
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title AlmoNature
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="format-detection" content="telephone=no")
    meta(name="Description" content="Products for dogs")
    link(href="css/style.min.css" rel="stylesheet")
    link(href="fonts/Poppins-Regular.woff2" as="font" rel="preload" crossorigin="anonymous")
    link(href="fonts/Poppins-Medium.woff2" as="font" rel="preload" crossorigin="anonymous")
    link(href="fonts/Poppins-Bold.woff2" as="font" rel="preload" crossorigin="anonymous")

    script
      // Picture element HTML5 shiv
      document.createElement("picture")

  -
    
    const headerCat = [
      {
        title: 'Cats',
        link: '#'
      },
      {
        title: 'Dogs',
        link: '#'
      },
      {
        title: 'Movement',
        link: '#'
      },
      {
        title: 'Projects',
        link: '#'
      },
      {
        title: 'About us',
        link: '#'
      },
    ];

    const footerLists = {
      products: [
        {
          title: 'Cat products',
          link: '#'
        },
        {
          title: 'Dog products',
          link: '#'
        },
        {
          title: 'Find a store',
          link: '#'
        },
        {
          title: 'Quality',
          link: '#'
        },
      ],
      movement: [
        {
          title: 'A new pact with animals',
          link: '#'
        },
        {
          title: 'Ecosystem as a goal',
          link: '#'
        },
        {
          title: 'Pet food as a fuel',
          link: '#'
        },
        {
          title: 'How you can help',
          link: '#'
        },
      ],
      projects: [
        {
          title: 'A Companion Animal Is For Life',
          link: '#'
        },
        {
          title: 'Farmers & Predators',
          link: '#'
        },
        {
          title: 'Dog Blood Bank',
          link: '#'
        },
        {
          title: 'Regenerating Villa Fortuna',
          link: '#'
        },
      ],
      about: [
        {
          title: 'Almo Nature',
          link: '#'
        },
        {
          title: 'Capellino Fundation',
          link: '#'
        },
        {
          title: 'All activity',
          link: '#'
        },
        {
          title: 'They write about us',
          link: '#'
        },
        {
          title: 'Wall of supporters',
          link: '#'
        },
        {
          title: 'Friends and partners',
          link: '#'
        },
      ],
    };

  body

    //- Header
    header.header.text-content
      .site-wrapper
        .header__wrapper.header__wrapper--first

          //- Social
          .header__social

            ul.header__social-list

              li.header__social-item
                a(href="#")
                  span Facebook
                  svg(width="21" height="20")
                    use(xlink:href="img/sprite/sprite.svg#header-fb")

              li.header__social-item
                a(href="#")
                  span Facebook
                  svg(width="22" height="20")
                    use(xlink:href="img/sprite/sprite.svg#header-inst")

              li.header__social-item
                a(href="#")
                  span Facebook
                  svg(width="21" height="20")
                    use(xlink:href="img/sprite/sprite.svg#header-twitter")

          //- Settings
          .header__settings

            a.header__settings-link.header__settings-link--area(href="#") Professional area
            a.header__settings-link.header__settings-link--store(href="#") Find a store
            a.header__settings-link.header__settings-link--country(href="#") Italy
            a.header__settings-link.header__settings-link--lang(href="#") EN

        //- Navigation
        .header__wrapper.header__wrapper--second
          nav.header__main-navigation

            a(href="#")
              img.header__logo(src="img/svg/almonature.svg" width="123" height="53" alt="Logo Almo Nature")

            ul.header__category-list
              each item in headerCat
                li.header__category-item
                  a(href=item.link)= item.title

    //- Main
    main

      //- Introduction
      section.introduction.text-content
        .site-wrapper
          h1 Almo Nature shop

          .introduction__wrapper
          
            img.introduction__logo(src="img/svg/holistic.svg" width="264" height="70" alt="Logo Holistic")
            span Total care is easy
            p 
              | Holistic composition, considering all pets’ nutritional needs
              | with 
              span fresh meat as a #1 component
            p 
              | Giving your dog a full measure of care it deserves never 
              | was that easy

          img.introduction__image(src="img/intro-image.png" width="403" height="452" alt="Good of Almo Nature")

      //- Benefits
      section.benefits.text-content
        .site-wrapper
          h2 What benefits do the careful owners see?

          ul.benefits__list

            li.benefits__item
              .benefits__wrapper

                h3 Excellent, gentle diet
                p 
                  | My Lab looks great on this food, she's shiny, happy, 
                  | energetic but not hyper and her digestion and what comes
                  | out at the other end have never been better.

                ul.benefits__rating-list

                  li.benefits__rating-item 
                    span Star of the rating
                    svg(width="25" height="25")
                      use(xlink:href="img/sprite/sprite.svg#star")

                  li.benefits__rating-item 
                    span Star of the rating
                    svg(width="25" height="25")
                      use(xlink:href="img/sprite/sprite.svg#star")

                  li.benefits__rating-item 
                    span Star of the rating
                    svg(width="25" height="25")
                      use(xlink:href="img/sprite/sprite.svg#star")

                  li.benefits__rating-item 
                    span Star of the rating
                    svg(width="25" height="25")
                      use(xlink:href="img/sprite/sprite.svg#star")

                  li.benefits__rating-item 
                    span Star of the rating
                    svg(width="25" height="25")
                      use(xlink:href="img/sprite/sprite.svg#star")

                p Em,
                  span Zooplus review

              img.benefits__image(src="img/dog-1.png" width="363" height="531" alt="The dog")

            li.benefits__item
              .benefits__wrapper

                h3 Good Organic Ingredients = Glossy Coat, Happy Dog
                p 
                  | Smeegle loves this and it really is the only food that 
                  | makes&nbsp;his coat glossy and gives him supreme health. We 
                  | used to get it in a local shop and when that closed down 
                  | we tried other 'premium' food but they just didn't come
                  | close at all, making his coat dull and his energy go.

                ul.benefits__rating-list

                  li.benefits__rating-item 
                    span Star of the rating
                    svg(width="25" height="25")
                      use(xlink:href="img/sprite/sprite.svg#star")

                  li.benefits__rating-item 
                    span Star of the rating
                    svg(width="25" height="25")
                      use(xlink:href="img/sprite/sprite.svg#star")

                  li.benefits__rating-item 
                    span Star of the rating
                    svg(width="25" height="25")
                      use(xlink:href="img/sprite/sprite.svg#star")

                  li.benefits__rating-item 
                    span Star of the rating
                    svg(width="25" height="25")
                      use(xlink:href="img/sprite/sprite.svg#star")

                  li.benefits__rating-item 
                    span Star of the rating
                    svg(width="25" height="25")
                      use(xlink:href="img/sprite/sprite.svg#star")

                p Ness,
                  span Zooplus review

              img.benefits__image(src="img/dog-2.png" width="488" height="342" alt="The dog")

            li.benefits__item
                .benefits__wrapper

                  h3 Excellent food for sensitive dogs
                  p 
                    | Our German Shepherd loves this food - we had real
                    | problems finding a suitable dried food for him, everything
                    | we tried flared up either his dermatitis or digestive 
                    | problems. This is very well tolerated, and he wolfs it down!

                  ul.benefits__rating-list

                    li.benefits__rating-item 
                      span Star of the rating
                      svg(width="25" height="25")
                        use(xlink:href="img/sprite/sprite.svg#star")

                    li.benefits__rating-item 
                      span Star of the rating
                      svg(width="25" height="25")
                        use(xlink:href="img/sprite/sprite.svg#star")

                    li.benefits__rating-item 
                      span Star of the rating
                      svg(width="25" height="25")
                        use(xlink:href="img/sprite/sprite.svg#star")

                    li.benefits__rating-item 
                      span Star of the rating
                      svg(width="25" height="25")
                        use(xlink:href="img/sprite/sprite.svg#star")

                    li.benefits__rating-item 
                      span Star of the rating
                      svg(width="25" height="25")
                        use(xlink:href="img/sprite/sprite.svg#star")

                  p Gemma,
                    span Zooplus review

                img.benefits__image(src="img/dog-3.png" width="800" height="531" alt="The dog")

            li.benefits__item
                .benefits__wrapper

                  h3 Best food so far
                  p 
                    | Shiny coat, healthy dog, he loves this food! 
                    | Tried other food but this is the best most balanced and natural and not
                    | even the most expensive

                  ul.benefits__rating-list

                    li.benefits__rating-item 
                      span Star of the rating
                      svg(width="25" height="25")
                        use(xlink:href="img/sprite/sprite.svg#star")

                    li.benefits__rating-item 
                      span Star of the rating
                      svg(width="25" height="25")
                        use(xlink:href="img/sprite/sprite.svg#star")

                    li.benefits__rating-item 
                      span Star of the rating
                      svg(width="25" height="25")
                        use(xlink:href="img/sprite/sprite.svg#star")

                    li.benefits__rating-item 
                      span Star of the rating
                      svg(width="25" height="25")
                        use(xlink:href="img/sprite/sprite.svg#star")

                    li.benefits__rating-item 
                      span Star of the rating
                      svg(width="25" height="25")
                        use(xlink:href="img/sprite/sprite.svg#star")

                  p Erica,
                    span Zooplus review

                img.benefits__image(src="img/dog-4.png" width="347" height="624" alt="The dog")

      //- Review
      section.review.text-content
        .site-wrapper
          h2 What are the reasons behind that?

          .review__wrapper

            article.review__content-wrapper
              h3 A holistic approach to dog’s requirements
              p 
                | All the systems in your pet’s body are not functioning separately – they are 
                | interlinked and perform as the complex system. To maintain order in this
                | system and support its proper functioning, you have to think of it as a whole, 
                | considering all its needs. That is exactly what we do when create our Holistic 
                |rations for dogs’ nutrition.
              p Benedetta Giannini, 
                span Veterinarian and Nutritional expert

            .review__image-wrapper
              img.review__image(src="img/review-image.png" width="235" height="206" alt="Benedetta Giannini")

      //- Features
      section.features.text-content
        //- .site-wrapper
        h2 Our features

        .features__wrapper
          span Complete nutrition
          span Great taste of&nbsp;fresh&nbsp;meat

        .features__decorate-wrapper

        ul.features__list

          li.features__item.features__item--first
            h3 High percentage of fresh meat
            p 
              | Each of Almo Nature holistic kibble contains up to 26% fresh
              | meat, that makes it highly digestible and extremely tasty

          li.features__item.features__item--second
            h3 Taking care of specific needs
            p 
              | Holistic range offers also a grain free option, that is especially 
              | recommended for dogs and those who are prone to obesity

      //- Products
      section.products.text-content
        .site-wrapper
          h2 Why will Almo Holistic fit needs of your particular dog?
          p 
            | Almo Holistic offers different options for dogs of all sizes, with customized 
            | kibble size and elements’ ratio, based on metabolic specifics:

          ul.products__list

            li.products__item
              a(href="#")
                h3 Breed size For&nbsp;puppy
                img(src="img/product-2.png" width="289" height="364" alt="Breed size For puppy")

            li.products__item
              a(href="#")
                h3 Size of the kibble Small (S)
                img(src="img/product-1.png" width="289" height="364" alt="Size of the kibble Small (S)")

            li.products__item
              a(href="#")
                h3 Size of the kibble Medium (M)
                img(src="img/product-3.png" width="289" height="364" alt="Size of the kibble Medium (M)")

            li.products__item
              a(href="#")
                h3 Size of the kibble Large (L)
                img(src="img/product-4.png" width="289" height="364" alt="Size of the kibble Large (L)")

          p
            | And above all - it is convenient to buy and store, 
            | available in 
            span 400g, 2kg 
            | and 
            span 12kg sizes

        //- Virtues
      section.virtues.text-content
        .site-wrapper
          h2 Pet food as a fuel for pro-nature projects
          p 
            | 100% of AlmoNature's profits are used to help animals through different projects of 
            | Fondazione Capellino, with no chance of reverse action and no strings attached.

          p When you buy Almo Nature products, you become a part of it.

    //- Footer
    footer.footer.text-content
      .site-wrapper

        //- .footer__logo-wrapper
        ul.footer__logo-list

          li.footer__logo-item
            a(href="#")
              img(src="img/svg/almonature.svg" width="121" height="54" alt="Logo Almo Nature")

          li.footer__logo-item
            a(href="#")
              img(src="img/svg/fondazion.svg" width="161" height="35" alt="Logo Fondazione")

        //- .footer__link-wrapper
        ul.footer__link-list

          li.footer__link-item.footer__link-item--products
            h3 Products

            ul.footer__link-sublist
              each item in footerLists.products
                li.footer__link-subitem
                  a(href=item.link)= item.title

          li.footer__link-item.footer__link-item--movement
            h3 Movement

            ul.footer__link-sublist
              each item in footerLists.movement
                li.footer__link-subitem
                  a(href=item.link)= item.title

          li.footer__link-item.footer__link-item--projects
            h3 Projects

            ul.footer__link-sublist
              each item in footerLists.projects
                li.footer__link-subitem
                  a(href=item.link)= item.title

          li.footer__link-item.footer__link-item--about
            h3 About us

            ul.footer__link-sublist
              each item in footerLists.about
                li.footer__link-subitem
                  a(href=item.link)= item.title

          li.footer__link-item.footer__link-item--touch
            h3 Get in touch

            ul.footer__link-sublist

              li.footer__link-subitem
                a(href="#") Contact us

              li.footer__link-subitem
                ul.footer__social-list

                  li.footer___social-item
                    a(href="#")
                      span Facebook
                      svg(width="44" height="42")
                        use(xlink:href="img/sprite/sprite.svg#footer-fb")

                  li.footer___social-item
                    a(href="#")
                      span Twitter
                      svg(width="43" height="41")
                        use(xlink:href="img/sprite/sprite.svg#footer-twitter")

                  li.footer___social-item
                    a(href="#")
                      span Instagram
                      svg(width="45" height="40")
                        use(xlink:href="img/sprite/sprite.svg#footer-inst")

              li.footer__link-subitem
                a(href="#") Professional area



        

    script(src='js/all.js')
